body {
  height: 100%;
  width: 100%;
  margin:0;
  background-color: #DDDDDD;
font-family: 'Cabin', sans-serif;
}
h1{
  color:#658864;
  margin-top:0px;
}
h3{
  color:#658864;
  margin-top:0px;
}
.words:hover{
  color:#000000;
}

hr {
  border-style: none;
  border-top-style:dotted;
  border-color:#658864;
  border-width:10px;
  width:10%;
}
.first-container{
  background-color:#EEEEEE;
  text-align:center; 
}
.second-container{
  background-color:#DDDDDD;
  text-align: center;
}
.third-container{
  background-color:#EEEEEE;
  text-align: center;
}
.fourth-container{
  background-color:#EEEEEE;
  text-align:center;
}
.clouds {
  transform:rotate(180deg);
}
.Founder{
  text-decoration: underline;
  font-weight: 600;
}
.last{  border-style: none;
  border-top-style:dotted;
  border-color:#658864;
  border-width:10px;
  width:10%;
     }